html {
  font-family: 'Open Sans', sans-serif;
}

label {
  display: inline-block;
}

button {
  background-color: #000;
  color: #fff;
}

h1 {
  border-bottom: solid 1px #000;
}

btn {
  align-content: center;
}
